
<div class="wrapper">
  <div class="container">
    <div class="row">
</div>
</div>
<div class="row status-filter">
	<form class="form-inline">
		<div class="input-group">                    
			<input type="text" class="form-control" placeholder="Search">
			<div class="input-group-append">
				<i class="fa fa-search"></i>
				<button type="button" class="btn btn-secondary"></button>
			</div>
		</div>
	</form>
	<div class="">
		<button type="button" class="btn btn-filter">Filters</button>	
	</div>

	<div class="toolbar">
		<!-- *ngFor="let office of offices" -->
			<select class="form-control" >
				<option value=""placeholder="Location" > </option>
				<option value="all">Export All</option>
				<option value="selected">Export Selected</option>
				<option >{{office.name}}</option>
			</select>
	</div>
	<div class="toolbar">
	<select class="form-control">
		<option value="">Company </option>
		<option value="all">Export All</option>
		<option value="selected">Export Selected</option>
	</select>
	</div>
</div>
<div class="container table" >
	<div class="row">
	  <div class="col-12">
		<table class="table table-striped">
		  <thead>
			<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck1" [value]="true" checked>
						<label class="custom-control-label" for="customCheck1"></label>
					</div>
				</td>
				<td>{{member.name}}</td>
				<td>{{member.teamName}}</td>
				<td>913</td>
				<td>2.846</td>
				<td>1.234</td>
				</tr>
				<tr>
				<td>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck2">
						<label class="custom-control-label" for="customCheck2"></label>
					</div>
				</td>
				<td>{{member.name}}</td>
				<td>Cristina</td>
				<td>1.434</td>
				<td>3.417</td>
				<td>1.234</td>
			</tr>
		  </thead>
		 
		</table>
	  </div>
	</div>
  </div>
</div>

