
<div class="wrapper">
  <div class="container">
    <div class="row">
</div>
</div>
<div class="row status-filter">
	<form class="form-inline">
		<div class="input-group">                    
			<input type="text" class="form-control" placeholder="Search">
			<div class="input-group-append">
				<i class="fa fa-search"></i>
				<button type="button" class="btn btn-secondary"></button>
			</div>
		</div>
	</form>
	<div class="">
		<button type="button" class="btn btn-filter">Filters</button>	
	</div>

	<div id="toolbar" >
			<select class="form-control">
					<option value=""placeholder="Location"> </option>
					<option value="all">Export All</option>
					<option value="selected">Export Selected</option>
			</select>
	</div>
	<div id="toolbar">
	<select class="form-control">
		<option value="">Company </option>
		<option value="all">Export All</option>
		<option value="selected">Export Selected</option>
	</select>
	</div>
</div>

<table id="table" 
			 data-toggle="table"
			 data-search="true"
			 data-filter-control="true" 
			 data-show-export="true"
			 data-click-to-select="true"
			 data-toolbar="#toolbar">
	<thead>
		<tr>
			<th data-field="state" data-checkbox="true"></th>
			<th data-field="prenom" data-filter-control="input" data-sortable="true">Member</th>
			<th data-field="date" data-filter-control="select" data-sortable="true">Team</th>
			<th data-field="examen" data-filter-control="select" data-sortable="true">Status/Label</th>
      <th data-field="note" data-sortable="true">Created at</th>
      <th data-field="note" data-filter-control="select" data-sortable="true">Location</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
			<td>Valérie</td>
			<td>01/09/2015</td>
			<td>Français</td>
			<td>12/20</td>
		</tr>
    
	</tbody>
</table>
</div>

<router-outlet></router-outlet>
