<nav class="container navbar navbar-expand-sm bg-light justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item grey">
      <a class="nav-link" href="#">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Lead</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Drop In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Former</a>
    </li>
  </ul>
  <div class="navbar-nav-right ml-auto">
    <button type="button" class="btn btn-danger space">Delete</button>
    <button class="btn btn-primary" type="submit">Add Member</button>
  </div>
</nav>
<div class="container wrapper">
	<div class="row status-filter">
		<form class="form-inline">
			<div class="input-group">                    
				<input type="text" class="form-control" placeholder="Search">
				<div class="input-group-append">
					<i class="fa fa-search"></i>
					<button type="button" class="btn btn-secondary"></button>
				</div>
			</div>
		</form>
		<div class="">
			<button type="button" (click)="onFilterGrid($event)" class="btn btn-filter">Filters</button>	
		</div>
 
		<div class="toolbar">
      <select class="form-control" (change)="onOfficeFilterChange($event.target.value)">
          <option value="all" selected>All</option>
          <option *ngFor="let office of offices"
            value="{{office.id}}"
            >{{office.name}} 
          </option>
      </select>
		</div>
		<div class="toolbar2">
      <select class="form-control" (change)="onTeamFilterChange($event.target.value)">
        <option value="all" selected>All</option>
        <option *ngFor="let team of teams"
          value="{{team.id}}"
         >{{team.name}}</option>
      </select>
		</div>
	</div>
	<div class="container table" >
		<div class="row">
			<div class="col-12">
				<table class="table table-striped">
				<thead>
					<tr>
					<th scope="col custom-control-label" for="customCheck1">
						<input type="checkbox" class="custom-control-input" id="customCheck1" [value]="true" checked>
						<label class="custom-control-label" for="customCheck1"></label>
          </th>
					<th scope="col col-member">Member</th>
					<th scope="col">Team</th>
					<th scope="col">Status/Label</th>
					<th scope="col">Created At</th>
					<th scope="col">Location</th>
					</tr>
				</thead>
				<tbody>
					<!-- The ngFor for every member -->
					<app-member *ngFor="let member of this.gridMembers" [member]="member"></app-member>
				</tbody>
				</table>
			</div>
		</div>
  </div>
</div>
 