<nav class="container navbar navbar-expand-sm bg-light justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item grey">
      <a class="nav-link" [ngClass]="activeFilter === 'all' ? 'active' : ''" (click)="onFilterStatusClick('all')">All {{allMemberStatusCount}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="activeFilter === 'lead' ? 'active' : ''" (click)="onFilterStatusClick('lead')">Lead {{leadMemberStatusCount}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="activeFilter === 'dropIn' ? 'active' : ''" (click)="onFilterStatusClick('dropIn')">Drop-In {{dropInMemberStatusCount}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="activeFilter === 'active' ? 'active' : ''" (click)="onFilterStatusClick('active')">Active {{activeMemberStatusCount}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="activeFilter === 'former' ? 'active' : ''" (click)="onFilterStatusClick('former')">Former {{formerMemberStatusCount}}</a>
    </li>
  </ul>
  <div class="navbar-nav-right ml-auto">
    <button type="button" [disabled]="membersMarkedForDeletion.length === 0" class="btn btn-danger space" (click)="open(deleteMember)">Delete</button>
    <button class="btn btn-primary" (click)="open(content)">Add Member</button>
  </div>
</nav>
<div class="container wrapper">
	<div class="row status-filter">
		<form class="form-inline">
      <i class="fa fa-search"></i>
			<div class="input-group">                    
				<input type="text" class="form-control" placeholder="Search">
				<div class="input-group-append">
					
					<button type="button" class="btn btn-secondary"></button>
				</div>
			</div>
		</form>
		<div class="">
			<button type="button" (click)="onFilterGrid()" class="btn btn-filter">Filters</button>	
		</div>
 
		<div class="toolbar">
      <select class="form-control" (change)="onOfficeFilterChange($event.target.value)">
          <option value="all" selected>All</option>
          <option *ngFor="let office of offices"
            value="{{office.id}}"
            >{{office.name}} 
          </option>
      </select>
		</div>
		<div class="toolbar2">
      <select class="form-control" (change)="onTeamFilterChange($event.target.value)">
        <option value="all" selected>All</option>
        <option *ngFor="let team of teams"
          value="{{team.id}}"
         >{{team.name}}</option>
      </select>
		</div>
	</div>
	<div class="table content" >
		<div class="row">
			<div class="col-12">
				<table class="table table-striped">
          <thead>
            <tr>
              <th>  
                <div class="form-check">
                  <label class="form-check-label"></label>
                  <input type="checkbox" (change)="onMemberAllSelection($event)">
                </div>
              </th> 
              <th scope="col col-member">Member</th>
              <th scope="col">Team</th>
              <th scope="col">Status/Label</th>
              <th scope="col">Created At</th>
              <th scope="col">Location</th>
            </tr>
          </thead>
				<tbody>
 
          <!-- The ngFor for every member -->
          <tr *ngFor="let member of this.gridMembers | slice:0:20 ">
            <td>
            <div class="form-check" >
                <input class="form-check" type="checkbox" [checked]="member.selected" value="{{member.id}}" (change)="onMemberSelection($event)" />
                <label class="form-check"></label>
            </div>
            </td>
            <td>
              <img class="grid-member-img" src="{{member.image}}" alt="Member image">
              <span>{{member.name}}</span>
            </td>
            <td>{{member.teamName}}</td>
            <td ><span class="table-status">{{member.calculatedStatus}}</span></td>
            <td>{{member.createdAt | date : 'dd-MM-yyyy'}}</td>
            <td>
              {{member.officeName}}</td>
          </tr>
				</tbody>
				</table>
			</div>
		</div>
  </div>
</div>
<ng-template #content let-modal>
  <member-form [offices]="offices" [teams]="teams"></member-form>
</ng-template>
<ng-template #deleteMember let-modal>
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Delete member</h4>
</div>
<div class="modal-body">
  <p>Are you sure you want to delete the selected members?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" aria-label="No" (click)="modal.dismiss()">
      <span aria-hidden="true">No</span>
  </button>
  <button type="button" class="btn btn-outline-dark" (click)="deleteMembers(modal)">Yes</button>
</div>
</ng-template>