.container {
	width: 1024px;
	padding: 2em;
}
h4 {
    margin: 2rem 0rem 1rem;
  }
.bold-blue {
	font-weight: bold;
	color: #0277BD;
}
.grid-member-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;;
}
.space {
    margin-right: 15px;
}
.navbar-expand-sm .navbar-nav .nav-link {
    color: #959597;
    cursor: pointer;
}
 a.nav-link.active {
	color: #2e55d0;
	border-bottom: 2px solid #2e55d0;
}
.btn-primary {
    color: #fff;
    background-color: #2e3ed0;
    border-color: #2e3ed0;
}
.btn-danger {
    color: #fff;
    background-color: #c72929;
    border-color: #c72929;
}
.container.wrapper {
	border: 1px solid #dfe0e5;
	border-radius: 3px;
}
.btn-filter {
    display: block;
    /* width: 100%; */
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.table.content {
    margin-top: 3rem;   
}
.table td {
    color: #3c3c3e;
    vertical-align: inherit;
}
table tr th  {
    color: #686e79;
    text-transform: uppercase;
    font-weight: bold;
}
.table-image td, .table-image th {
    vertical-align: middle;
  }
.row {
    margin-left: 0;
}
.row.status-filter > * {
    padding: 6px;
} 
.container.table {
  padding: 2rem 0rem;
}
.custom-control-input:checked~.custom-control-label::before {
	background-color: #2e3ed0;
	padding-left: 1.5rem;
  }
.custom-control-label {
	width: 30px;
}
span.table-status {
    color: #178a60;
    background-color:#c1e5dc;
    border-radius: 3px;
    padding: 5px;
    text-transform: capitalize;
}
