<nav class="container navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item grey">
        <a class="nav-link" href="#">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lead</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Drop In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Former</a>
      </li>
    </ul>
    <div class="navbar-nav-right ml-auto">
      <button type="button" class="btn btn-danger space">Delete</button>
      <button class="btn btn-primary" type="submit">Add Member</button>
  </div>
  </nav>

  <a class="card"
  rel="noopener"
    routerLink="/member"
  ></a>
  